
.form{
    display: flex;
}
.form-group{
    color:black;
    width:100%;
    display: flex;
}
.load img{
    position:absolute;
    left:50%;
    top:50%;
    width:40px;
    height: 40px;
    display: none;
}
table{
    width: 100%;
}
input{
    border:none;
    border-bottom: 1px dotted black;
}
tr,td,th{
    border: 1px solid black;
    align-items: center;
    text-align: center;
}
.Item{
    width: 100%;
    display: flex;
}
input[type="submit"]{
    border: none;
    margin-left: 30%;
    margin-top: 5%;
}
.background{
    background-image: linear-gradient(100deg,rgb(113, 171, 247),rgb(141, 155, 192),rgb(25, 106, 212));
}
th{
    background-image: linear-gradient(180deg,#141e30, #243b55);
    font-family: 'Times New Roman';
    color:whitesmoke;
    align-items: center;
    justify-content: center;
}
a{
    color: red;
    font-family: 'Times New Roman';
}
.Item td{
    font-family: 'Times New Roman';
    background-color: gold;
    color: black;
}