.load{
    justify-content: center;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('registration.png');
    background-repeat: none;
    background-size: cover;
}.form-group{
    color:black;
    width: inherit;
    display: flex;
}
.load img{
    position:absolute;
    left:50%;
    top:50%;
    width:40px;
    height: 40px;
    display: none;
}
table{
    width: 100%;
}
input{
    border:none;
    border-bottom: 1px dotted black;
    width: 210px;
}
tr,td,th{
    border: 1px solid black;
    align-items: center;
    text-align: center;
}
.Item{
    width: 1055px;
    display: flex;
}
input[type="submit"]{
    border: none;
   margin: 5% auto;
}
.background{
    background-image: linear-gradient(100deg,rgb(113, 171, 247),rgb(141, 155, 192),rgb(25, 106, 212));
}
th{
    background-image: linear-gradient(180deg,#141e30, #243b55);
    font-family: 'Times New Roman';
    color:whitesmoke;
    align-items: center;
    justify-content: center;
}
a{
    color:red;
    font-family: 'Times New Roman';
}
.Item td{
    font-family: 'Times New Roman';
    background-color: gold;
    color: black;
}
.Item th:nth-child(2){
    background: url('particulars.png'),linear-gradient(180deg,#141e30, #243b55);
    background-size: contain;
    align-items: left;
    background-position-x: 20%;
    justify-content: left;
    image-resolution: 225px;
    object-fit: contain;
    background-repeat: no-repeat;
}
.Item th:nth-child(3){
    background: url('quantity.png'),linear-gradient(180deg,#141e30, #243b55);
    background-size: contain;
    align-items: left;
    background-position-x: 12%;
    justify-content: left;
    image-resolution: 225px;
    object-fit: contain;
    background-repeat: no-repeat;
}
.Item th:nth-child(4){
    background: url('discount.png'),linear-gradient(180deg,#141e30, #243b55);
    background-size: contain;
    align-items: left;
    background-position-x: 12%;
    justify-content: left;
    image-resolution: 225px;
    object-fit: contain;
    background-repeat: no-repeat;
}
.Item th:nth-child(5){
    background: url('price.png'),linear-gradient(180deg,#141e30, #243b55);
    background-size: contain;
    align-items: left;
    background-position-x: 12%;
    justify-content: left;
    image-resolution: 225px;
    object-fit: contain;
    background-repeat: no-repeat;
}
.form-group th:nth-child(1){
    background: url('particulars.png'),linear-gradient(180deg,#141e30, #243b55);
    background-size: contain;
    align-items: left;
    background-position-x: 12%;
    justify-content: left;
    image-resolution: 225px;
    object-fit: contain;
    background-repeat: no-repeat;
}
.form-group th:nth-child(2){
    background: url('quantity.png'),linear-gradient(180deg,#141e30, #243b55);
    background-size: contain;
    align-items: left;
    background-position-x: 12%;
    justify-content: left;
    image-resolution: 225px;
    object-fit: contain;
    background-repeat: no-repeat;
}
.form-group th:nth-child(3){
    background: url('discount.png'),linear-gradient(180deg,#141e30, #243b55);
    background-size: contain;
    align-items: left;
    background-position-x: 12%;
    justify-content: left;
    image-resolution: 225px;
    object-fit: contain;
    background-repeat: no-repeat;
}
.form-group th:nth-child(4){
    background: url('price.png'),linear-gradient(180deg,#141e30, #243b55);
    background-size: contain;
    align-items: left;
    background-position-x: 12%;
    justify-content: left;
    image-resolution: 225px;
    object-fit: contain;
    background-repeat: no-repeat;
}