.form-group{
    color:black;
    width: inherit;
    display: flex;
}
.load img{
    position:absolute;
    left:50%;
    top:50%;
    width:40px;
    height: 40px;
    display: none;
}
table{
    width: 100%;
}
input{
    border:none;
    border-bottom: 1px dotted black;
    width: 210px;
}
tr,td,th{
    border: 1px dotted black;
    border-style:dashed;
    align-items: center;
    text-align: center;
}
.Item{
    width: 1055px;
    display: flex;
}
input[type="submit"]{
    border: none;
    margin-left: 30%;
    margin-top: 5%;
}