*{
    justify-content: center;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('registration.png');
    background-repeat: none;
    background-size: cover;
}
a{
    font-size: x-large;
    border: 20px solid rgb(196, 44,44);
    color: white;
    font-family: 'Times New Roman';
    justify-content: center;
    align-items: center;
    bottom: 50%;
    top: 50%;
    position: absolute;
    text-decoration: dashed;
    border-radius: 5px;
    width: 150px;
}