
.load{
    justify-content: center;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('registration.png');
    background-repeat: none;
    background-size: cover;
}
.form-group{
    display: flex;
    flex-wrap: wrap;
    width: 40% !important;
    background-color: rgba(7, 6, 6, 0.726);
    border-radius: 10px;
    box-shadow:1px 1px 5px 10px rgba(15, 14, 14, 0.514);
    height: 90%;
    font-size: larger;
    font-family: 'Times New Roman';
    word-spacing: 10%;
    font-weight: bold;
}
.input-group{
    background-image: url('register.png');
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: -2%;
}
.form-group button{
    margin: .5em auto;
    border: none;
    border-bottom: 1px dotted black;
    width: 210px;
}
.staffpass{
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group{
    display: block;
    color: white;

}
.form-group .input-group input,.form-group .staffpass input{
    margin: .5em auto;
    background: transparent;
    border-bottom: solid rgba(255, 255, 255, 0.836);
}
.form-group .staffpass input[type="submit"]{
    background-color: white;
}