*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
}
.sidebar-div{
   background-image: linear-gradient(#085078, #85d8ce);
    color: white;
    height: 100vh;
}
.main{
    height: 100vh;
    width: 100%;
}
.sidebar-div li{
    text-align: left !important;
}
.Main h1{
    font-size: 30px;
    padding: 20px;
}
.Account h1{
    font-size: 30px;
}
.sidebar-div a{
    text-decoration: none;
    color: white;
}
.logout{
    background: transparent;
    border: none;
    color: white;
    font-family: 'Times New Roman';
}
.staffpass{
    display: none;
}
.brand{
    margin:0px;
    padding: 0px;
    height: 30px;
    width:100%;
    background-color: darkblue;
}