*{
    margin: 0px;
    padding: 0px
}
.background{
    background-image: linear-gradient(100deg,rgb(240, 243, 239),rgb(25, 106, 212));
}
body
{
	
	margin:0;
	padding:0;
	background-size:cover;
	font-family: sans-serif; 
}

.loginBox
{
	transform: translate(0%, 0%);
	width:350px;
	height:420px;
	padding:80px 40px;
	box-sizing: border-box;
	background:rgba(0,0,0,0.5) ;
    float: right;
	margin-top: 30%;
    margin-right: 10%;
    box-shadow: 5px 10px 20px black;
}



h2
{
	margin:0;
	padding:0 0 20px;
	color:#1E90FF;
	text-align:center;
} 



.loginBox p
{
	padding:0;
	margin:0;
	font-weight:bold;
	color:#fff;
	
} 


.loginBox input
{
	width:100%;
	margin-bottom: 20px; 
}

.loginBox input[type="text"], .loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size: 16px;
	
	
}


.loginBox input[type="submit"]
{
	border:none;
	outline:none;
	height: 40px;
	color:#fff;
	font-size:16px;
	background: rgb(255,38,126);
	cursor:pointer;
	border-radius:20px;
}


.loginBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
 
 
 

.loginBox a
{
	color: #fff;
	font-size:14px;
	font-weight:bold;
} 


::placeholder
{
	color:rgba(255,255,255,0.5); 
}


.user
{
	width:100px;
	height:100px; 
	overflow:hidden;
	position:absolute;
	top:calc(-100px/2);
	left:calc(50% - 50px);
	border-radius:50%;
}
 .login{
    background-image: linear-gradient(240deg,#20002c,#cbb4d4);

 }
.intro{
    height: 100vh;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
}
.row{
    height: 100vh;
}
.space{
    background-color: black;
    background-size: cover;
    height: 100vh;
}

.about{
    height: 70vh;
    background-color: #20002c;
    color: #fff;
}
.about h1{
    top: 10%;
    padding-top: 5%;
    transition: ease-in;
}
.contact{
    height: 60vh;
    background-color: #1c0b69;
    color: #fff;
}
.contact h1{
    top: 10%;
    padding-top: 5%;
}