*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image:url("background.jpeg");
    background-size:cover;
    background-position:0cm;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60%;
}
.banner{
    background-image: linear-gradient(rgba(1,0,0,0.1),rgba(1,0,0,0.1));
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: sticky;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(5, 5, 5);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content h1{
    font-weight: 10;
    line-height: 10px;
    color: red;
    font-size: 40px;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.content h1:hover{
    color:blue;
    background-color: aquamarine;
}

