{% extends 'sidebar.html' %}
<body>
    {% block body %}
    <strong>welcome {{request.user.shop_name}}</strong>
    <form action="/dashboard/" method="post" id="form">
        {% csrf_token %}
    <div class="form-group" id="form-group">
    <tr><input type="text" name="item_name" id="item_name" value="enter item"></tr>
    <tr><input type="number" name="quantity" id="quantity" value=0></tr>
    <tr><input type="number" name="discount" id="discount"value=0></tr>
    <tr><input type="number" name="price" id="price"value=0 ></tr>
    <input type="number" name="gst" id="gst"value=1>
</div>
    <input type="submit" value="submit" onclick="load()">
</form>

    {% if i %}
    {% for j in i%}
    <div>
    <span>{{j.item_name}}</span>
    <span>{{j.quantity}}</span>
    <span>{{j.discount}}</span>
    <span>{{j.selling_price}}</span>
    <span>{{j.GST}}</span>
    <span><a href="/delete/{{j.item_id}}"onclick="load()"><button>delete
    </a> </button></span>
</div>
    {% endfor %}
    {% endif %}
    <style>
        input{
            border:none;
            border-bottom: 1px solid black;
            margin:2px;
        }
    </style>
{% endblock body %}
</body>