{% extends 'sidebar.html' %}
{% block title %} Dashboard | {{request.user.shop_name}}{% endblock title %}
<body>
    {% block body %}
    <h1 class="text-center">
    <strong>welcome {{request.user.shop_name}}</strong></h1>
    <h1 class="text-center">Add Items</h1>
    <form action="/dashboard/" method="post" id="form" name="form">
        {% csrf_token %}
    <div class="form-group" id="form-group">
        <table>
            <tr>
              <th>Particulars</th>
              <th>Quantity</th>
              <th>Discount</th>
              <th>price</th>
              <th>GST</th>
            </tr>
            <tr>
                <td><input type="text" name="item_name"id="Particulars" placeholder="enter item" required></td>
                <td><input type="number" name="quantity" id="quantity" placeholder="Enter Quantity" required></td>
                <td><input type="number" name="discount" id="discount"placeholder="Enter Discount" required></td>
                <td><input type="number" name="price" id="price"placeholder="Enter Price" required></td>
                <td><input type="number" name="gst" id="gst"placeholder="Enter GST" required></td>
            </tr>
          </table>
</div>
    <input type="submit" value="Add Item" id="add">
</form>
{% if i %}
<hr>
<h1 class="text-center">Your Items ({{i.count}})</h1>
<div class="Item">
<table style="width:100%">
    <tr>
        <th>Sl.no</th>
      <th>Particulars</th>
      <th>Quantity</th>
      <th>Discount</th>
      <th>Price</th>
      <th>GST</th>
      <th>Action</th>
    </tr>
    {% for j in i %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{j.item_name}}</td>
      <td>{{j.quantity}}</td>
      <td>{{j.discount}} %</td>
      <td>Rs. {{j.selling_price}}</td>
      <td>{{j.GST}} %</td>
      <td><a href="/delete/{{j.item_id}}"onclick="load()">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
   {% else %}
    <p class="text-center">You Do n {ot have any Items.</p>
    {% endif %}
{% endblock body %}
</body>