{% extends "sidebar.html" %}
{% load static %}
{% block title %}Edit item{% endblock title %}
{% block link %}
<link rel="stylesheet" href="{% static 'edit.css' %}">{% endblock link %}

<body>
    {% block body %}
    <div class="form">
    <form action="/edit/{{item.item_id}}" method="post">
        {% csrf_token %}
        <table>
        <tr>
            <th>Particulars</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>Price</th>
          </tr>
        <tr>
        <td><input type="text" name="item_name" id="Particulars" value="{{item.item_name}}" required></td>
        <td><input type="number" name="quantity" id="quantity"  value="{{item.quantity}}"required></td>
        <td><input type="number" name="discount" id="discount"  value="{{item.discount}}"required></td>
        <td><input type="number" name="price" id="price"  value="{{item.selling_price}}" required></td>
        </tr>
    </table>
    <button>submit</button>
    </form>
</div>
</div>
    {% endblock body %}
</body>