<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <title>GetUrBill</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="banner">
      <div class="navbar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
<div class="content">
  <h1>
    TAKE YOUR STORE ONLINE NOW BY JUST ONE CLICK !!
  </h1>
</div>
</body>
</html>