{% extends "sidebar.html" %}
{% load static %}
{% block title %}Create Bill{% endblock title %}
{% block link %}
<link rel="stylesheet" href="{% static 'newbill.css' %}">
{% endblock link %}

<body>
        {% block body %}
        <div class="main">
                <div class="billinfo">
                        <div class="personalinfo">
                                Name:{{customer.name}}
                                <br>
                                Phone Number:{{customer.contact_no}}
                        </div>
                        <div class="sellerinfo">
                                Bill Number:{{bill_number.bill_no}}
                                <br>
                                Shop Name:{{bill_number.shop_name}}
                                <br>
                                Address:{{bill_number.Address}}
                                <br>
                                Date Of Purchase:{{bill_number.date_of_purchase}}
                        </div>

                </div>
                <div class="additem">
                        
                      
                        {% csrf_token %}
                        <select name="itemselected" id="itemselected">
                                <option value="none">select</option>
                                {% for i in item %}
                                {% if i.quantity > 0 %}
                                <option value="{{i.item_name}}">{{i.item_name}}</option>
                                {% endif %}
                                {% endfor %}
                        </select>
                        <input type="number" name="quantity" id="quantity" onblur="check()" disabled>
                        <input type="hidden" name="billnumber" id="billnumber" value={{bill_number.bill_no}}>
                        <input type="hidden" name="contact" id="contact" value={{customer.contact_no}} >
                
                <button id="addbutton" disabled>Add</button>
                </div>
                <div class="billitem">
                        <table id="id_of_table">
                                <tr>
                                        <th>sl no.</th>
                                        <th>itemname</th>
                                        <th>quantity</th>
                                        <th>price</th>
                                        <th>discount</th>
                                        <th>final price</th>
                                        <th>delete</th>
                                </tr>
                                {% for b in bitem %}
                                <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{b.item_name}}</td>
                                        <td>{{b.quantity}}</td>
                                        <td>{{b.price}}</td>
                                        <td>{{b.discount}}</td>
                                        <td>{{b.Final_price}}</td>
                                        <td><a href="/{{customer.contact_no}}/{{bill_number.bill_no}}/d/{{b.id}}/">delete</a></td>

                                </tr>
                                {% endfor %}

                        </table>
                       <h3 id="total"> Total Price:{{bill_number.get_total}}</h3>
                        <button class="generate_bill"><a href="/generate/{{bill_number.bill_no}}/"> Generate Bill</a></button>
                </div>
        </div>
        <script src="{% static 'newbill.js' %}"></script>
        {% endblock body %}
</body>