{% extends "sidebar.html" %}
{% load static %}
{% block title %} Register User{% endblock title %}
{% block link %} <link rel="stylesheet" href="{% static 'register.css' %}">{% endblock link %}
<body>
    {% block body %}
    
    <div class="form-group" id="form-group">
    <form action="/registeruser/" method="POST" name="register">
        {% csrf_token %}
        <div class="input-group" id="input">
            <h3>Register User</h3>
            <hr>
            <div class="alert alert-danger {{messages.tags}}" style="display:none" id="msg">
                {% if messages %} 
                <style>
                    .alert{
                        display: block !important;
                    }
                </style>
                {% for message in messages %}
                    {{message}}
                {% endfor %}
                {% endif %}
            </div>
      <input type="text" name="phone number" id="phonenumber" reuired placeholder="Enter Phone Number">
      
    <input type="text" name="first name" id="first name" required placeholder='Enter first name'>
    <input type="text" name="shop name" id="shop name" required placeholder='Enter Shop name'>
    <input type="password" name="password1" id="password1" required placeholder='Enter Password'>
    <input type="password" name="password2" id="password2"required placeholder='Enter Password Again'>
   
    </div>
    <div class="staffpass" id="staffpass">
    <input type="password" name="password" id="passworduser"required placeholder='Enter Your Password '>
    <input type="submit" value="submit">

    </div>
    </form>
   
    <button  value="next" id="next">next</button>
    </div>
   
   
  
    <script src="{% static 'register.js' %}"></script>
    {% endblock body %}
    

</body>