{% extends "sidebar.html" %}
{% load static %}
{% block title %} Register User{% endblock title %}
<body>
    {% block body %}
    <div class="alert alert-danger" style="display:none" id="msg"></div>
    <div class="form-group" id="form-group">
    <form action="/registeruser/" method="POST" name="register">
        {% csrf_token %}
        <div class="input-group" id="input">
       <p> <input type="text" name="phone number" id="phonenumber" reuired placeholder="Enter Phone Number"></p>
        <p><input type="text" name="first name" id="first name" required placeholder='Enter first name'></p>
        <p><input type="text" name="shop name" id="shop name" required placeholder='Enter Shop name'></p>
        <p><input type="password" name="password1" id="password1" required placeholder='Enter Password'></p>
        <p><input type="password" name="password2" id="password2"required placeholder='Enter Password Again'></p>
    </div>
    <div class="staffpass" id="staffpass">
        <p><input type="password" name="password" id="passworduser"required placeholder='Enter Your Password '></p>
        <p><input type="submit" value="submit"></p>
    </div>
    </form>
   
    
    </div>
    <p><div><button  value="next" id="next">next</button></div></p>
    {% if messages %} 
    {% for message in messages %}
    <h4>
        {{message}}
    </h4>
    {% endfor %}
    {% endif %}
    <script src="{% static 'register.js' %}"></script>
    {% endblock body %}
    

</body>